#Android Studio related files
.gradle/
.gradletasknamecache
local.gradle
local-*.gradle
.idea/
.idea/*
/.idea/*
.DS_Store
*.iml
qualityresult.txt
release_notes-*.xml
.externalToolBuilders/
target/
reports/
.lock
.log
.mylyn
ingmobile-keystore
version.ini
hack/*
default.properties
.metadata/
proguard.*
line.txt
*.apk
*.apk.d
build
dist
keystore
snippets.rtf
Knowledge.txt
gen/
tmp/
R.java
Thumbs.db
.DS*
upload*.sh
mycert.pem
ant.libs/Archive.zip
droid*.jar
dex2jar-0.0.9.8/
*.pyx
local.properties
last-endpoint
.sonar/
junit*.properties
testlogs/
*.swp
captures/
